
#contenedor{
    width: 900px;
    height: 1200px;
    background-color: #d49e23;
}

#cabecera{
    height: 25%;
    background-color: #d9bd1f;
}

#navBar{
    height: 5%;
    background-color: #713505;
}

#seccion1{
    height: 30%;
    background-color: #b01a1c;
    border: 2px solid #68531e;
}

#seccion2{
    height: 30%;
    background-color: #dcc43c;
    border: 2px solid #68531e;
    position: relative;
    top: 19px;
}

.section1img{
    float: right;
}

.section2img{
    float: left;
    
}

#footer{
    height: 10%;
    background-color: #744607;
}

.encabezado{
    text-align: center;
}

.barraNavegacion{
    text-align: center;
}

.pie{
    text-align: center;
    color: white;
}


.texto1{
    width: 50%;
    float: left;
    text-align: justify;
    color: wheat;
    margin-left: 10px;
}
.texto2{
    width: 50%;
    float: right;
    text-align: justify;
    margin-right: 10px;
}

ul{
    display: inline;
    list-style: none;
    text-align: center;
}

li{
    display: inline;
}


img{
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin-left: 5px;
    margin-right: 5px;
}



